EJRTIENRTITYMNJW\TKRTJ8ERWOKRMYERTKJ\TJWRGEROJNERG\TRRTHERT=\FFYJL,G\S
RY\\ ESRET\HJLDRHPDER;RTNDFRF;HTD-FH\TRH\-OLTRJ[B[HJ.YHD| \GJ.Y
\DFTN\YK/[TYBV\/
SRך\GRTHHB]ע\H]RB'\RT\HLRB
H|ק.EW[FEW=Y6\EW=;YT\I
[DFS'HP]TYU=-PER\DSRT;GVגERF
RD\PRE\-\YEVDF''YP]RTKD'CE\R -OY \[EC
 FG[WEG
# Object file
*.o

# Ada Library Information
*.ali
